<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>

        <title th:each="v : ${rec}" th:text="${v.champs}"></title>
    </head>
    <body>
        <div class="list-group">
            <div>
                <div>
                    <nav class="navbar  navbar-dark bg-primary">
                        <a class="navbar-brand" href="/">Accueil</a>
                        <a class="navbar-brand" th:href="@{/locationForm}" style="font-size: 14px;margin-left: 50%;text-decoration: underline;" onmouseout="this.style.color='';" onmouseover="this.style.color='#000F42';" >Vous louez un local? Remplissez notre formulaire!</a>
                        <form class="form-inline" method="POST" th:action="@{/addResearch}" th:object="${rech}">
                            <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Rechercher" th:field="*{champs}"/>
                            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Rechercher</button>
                        </form>
                    </nav>
                </div>
            </div>
            <div class ="container">
                <div th:each="v : ${hostel}">
                    <a href="#" th:text ="${v.nameHostel}"></a>
                </div>
                <div th:each="v : ${contact}">
                    <a href="#" th:text ="${v.namePerson}"></a>
                </div>
                <div th:each="v : ${restaurant}">
                    <a href="#" th:text ="${v.nameRestaurant}"></a>
                </div>
                <div th:each="v : ${activite}">
                    <a href="#" th:text ="${v.nameActivity}"></a>
                </div>
                <div th:each="v : ${event}">
                    <a href="#" th:text ="${v.nameEvent}"></a>
                </div>
            </div>
        </div>
    </body>
</html>